.homepage {
  background: url("../images/plane10.jpg") no-repeat top right;
  background-size: cover;
  height: 45vh;

  &__logo {
    color: white;
    font-size: 30px;
    padding: 20px;
  }

  &__title {
    text-align: center;
    padding-top: 15vh;
    color: white;
    font-size: 30px;
    font-style: uppercase;
  }

  &__cards {
    padding-top: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
  }
}
.MuiCardMedia-root {
  height: 300px !important;
}

.MuiInputBase-input {
  min-width: 80% !important;
}

.filterButton  {
  margin-top: 10px !important;
}

.flight-title {
  padding-top: 20px;
}