.login {
  height: 100vh;
  display: flex;
  flex-direction: row;

  &__img {
    height: 100vh;
    width: 90%;
    background: url("../images/login2.jpg") no-repeat;
    background-size: cover;
    background-color: black;
}

&__container {
  display: flex;
  justify-content: center;
  align-items: center;
}


  &__card {
    padding: 15px 30px;
    width: 350px;
    border-radius: 15px !important;
    box-shadow: inset 0 0 10px rgb(38, 62, 65) !important;
  }

  &__button {
    padding-top: 20px !important;
    margin-top: 20px !important;
  }
}

.error {
  text-align: center;
  color: red;
  padding: 5px;
}